.Price {
    position: relative;

    width: 100%;

    text-align: center;
}

.Price .background,
.Price .background2 {
    width: 100%;
}

.Price .background2 {
    display: none;
}

.Price .content-wrapper {
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
}

.Price .slider-pro {
    margin: 0 50px 0 0;
}

.Price .slider-pro:not(.sp-full-screen).sp-horizontal .sp-previous-arrow {
    left: -40px;
}

.Price .slider-pro:not(.sp-full-screen).sp-horizontal .sp-next-arrow {
    right: -25px;
}

.Price .sp-horizontal .sp-arrows {
    margin-top: -30px;
}

.Price .sp-arrows .sp-fade-arrows {
    margin-top: 0;
}

.Price .sp-selected-button,
.Price .sp-next-arrow::after,
.Price .sp-next-arrow::before,
.Price .sp-previous-arrow::after,
.Price .sp-previous-arrow::before {
    background-color: #597a00;
}

.Price .sp-arrow {
    width: 20px;
    height: 50px;
}

.Price .slider-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.Price .current-price {
    position: relative;

    width: 500px;
    height: 400px;
}

.Price .current-price-img {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 400px;

    margin: auto;

    transition-duration: .35s;
    transition-property: width;
}

.Price .current-price-img.animate {
    width: 450px;
}

.Price .mobile-prices-wrapper {
    display: none;

    width: 67vw;

    margin: 0 auto;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Price .mobile-prices-wrapper .mobile-price {
    width: 29vw;
    height: 29vw;
}

@media screen and (max-width: 1000px) {
    .Price .slider-wrapper {
        display: none;
    }

    .Price .mobile-prices-wrapper {
        display: block;
    }
}

@media screen and (max-width: 850px) {
    .Price .content-wrapper {
        top: 4%;
    }

    .Price .background {
        display: none;
    }

    .Price .background2 {
        display: block;
    }
}
