.Order .content-wrapper {
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 0;
    left: 10%;
}

.Order .form {
    width: 40vw;
    margin: 0 auto;

    font-size: 2.4vw;
}

.Order.submited .form {
    display: none;
}

.Order .submit-success-message {
    position: relative;
    top: 25%;

    display: none;

    margin-bottom: 50px;

    text-align: center;

    font-size: 4vw;
}

.Order.submited .submit-success-message {
    display: block;
}

.Order .form input,
.Order .form textarea {
    font-size: 1.8vw;
}

.Order .form input:focus,
.Order .form textarea:focus {
    border-color: rgba(93, 120, 72, .3);
    box-shadow: 0 0 0 .2rem rgba(93, 120, 72, .3);
}

.Order .form .btn {
    display: block;

    margin: 0 auto;

    border-color: #7bb000;
    background-color: #7bb000;

    font-size: 3vw;
}

.Order .form .btn:hover,
.Order .form .btn:active {
    border-color: #007834;
    background-color: #007834;
}

.Order .form .btn:focus {
    box-shadow: 0 0 0 .2rem rgba(93, 120, 72, .3);
}

.Order .form .col-sm-10 {
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .Order .content-wrapper {
        top: 4%;
    }
}

@media screen and (max-width: 850px) {
    .Order .background {
        display: none;
    }

    .Order .content-wrapper {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
    }

    .Order .form {
        width: 90vw;
        margin-bottom: 50px;
    }

    .Order .form input,
    .Order .form textarea {
        font-size: 4.5vw;
    }

    .Order .form .btn {
        font-size: 6vw;
    }

    .Order .invalid-feedback {
        font-size: 3vw;
    }
}
