.Footer {
    .content-wrapper {
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .content {
        position: absolute;
        top: 24%;
        right: 4vw;
        left: 4vw;

        display: flex;
        justify-content: center;

        a {
            margin: 0 4vw;

            .ico {
                width: 10vw;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .Footer {
        .header {
            display: none;
        }

        .content {
            top: 16%;

            a {
                .ico {
                    width: 17vw;
                }
            }
        }
    }
}
