.Stages .content-wrapper {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Stages .header {
    position: absolute;

    top: 7%;
    right: 0;
    left: 0;

    margin: auto;
}

.Stages .content {
    position: absolute;
    top: 39%;
    right: 4vw;
    left: 4vw;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    margin: auto;
}

.Stages .stage {
    position: relative;
    flex: 1;
    flex-shrink: 0;
}

.Stages .stage::after {
    position: absolute;
    right: 0;
    bottom: -4.7vw;
    left: 0;

    font-size: 3.2vw;
}

.Stages .stage1::after {
    content: 'Дизайн';
}

.Stages .stage2::after {
    content: 'Производство';
}

.Stages .stage3::after {
    content: 'Печать';
}

.Stages .stage4::after {
    content: 'Упаковка';
}

.Stages .stage5::after {
    content: 'Доставка';
}

.Stages .stage::before {
    position: absolute;
    top: calc(100% + 4.6vw);
    right: 0;
    left: 0;

    font-size: 1.6vw;
}

.Stages .stage1::before {
    content: 'Подготовка вашего макета под печать';
}

.Stages .stage2::before {
    content: 'Обработка и грунтовка древесины';
}

.Stages .stage3::before {
    content: 'Нанесение изображения на поверхность изделия';
}

.Stages .stage4::before {
    content: 'Упаковка готовое картины в подарочную бумагу';
}

.Stages .stage5::before {
    content: 'Бесплатная доставка по Крыму';
}

.Stages .pic {
    width: 100%;
}

.Stages .arrow {
    width: 4vw;
    height: 4vw;

    margin: 0 10px;
}

@media screen and (max-width: 850px) {
    .Stages .background {
        display: none;
    }

    .Stages .header {
        position: relative;

        top: 4%;

        margin-bottom: 3vw;
    }

    .Stages .content-wrapper {
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
    }

    .Stages .content {
        position: relative;
        right: initial;
        left: initial;

        flex-direction: column;

        margin: 0 14vw;

        align-items: flex-start;
    }

    .Stages .content .pic {
        width: 22vw;
    }

    .Stages .stage::before {
        position: absolute;
        top: 8vw;
        left: 26vw;

        width: 56vw;

        text-align: left;

        font-size: 4vw;
    }

    .Stages .stage::after {
        position: absolute;
        top: 0;
        left: 26vw;

        font-size: 6vw;
    }

    .Stages .arrow {
        align-self: center;

        width: 6vw;
        height: 9vw;

        transform: rotate(90deg);
    }
}
