.Stages {
    .content-wrapper {
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .header {
        position: absolute;

        top: -1%;
        right: 0;
        left: 0;

        margin: auto;
    }

    .content {
        position: absolute;
        top: 37%;
        right: 4vw;
        left: 4vw;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        margin: auto;
    }

    .stage {
        position: relative;
        flex: 1;
        flex-shrink: 0;

        &::after {
            position: absolute;
            right: 0;
            bottom: -4.7vw;
            left: 0;

            font-size: 3.2vw;
        }

        &::before {
            position: absolute;
            top: calc(100% + 4.6vw);
            right: 0;
            left: 0;

            font-size: 1.6vw;
        }
    }

    .stage1::after {
        content: 'Дизайн';
    }

    .stage2::after {
        content: 'Производство';
    }

    .stage3::after {
        content: 'Печать';
    }

    .stage4::after {
        content: 'Упаковка';
    }

    .stage5::after {
        content: 'Доставка';
    }

    .stage1::before {
        content: 'Подготовка вашего макета под печать';
    }

    .stage2::before {
        content: 'Обработка и грунтовка древесины';
    }

    .stage3::before {
        content: 'Нанесение изображения на поверхность изделия';
    }

    .stage4::before {
        content: 'Упаковка готовое картины в подарочную бумагу';
    }

    .stage5::before {
        content: 'Бесплатная доставка по Крыму';
    }

    .pic {
        width: 100%;
    }

    .arrow {
        width: 3vw;
        height: 3vw;

        margin: 0 10px;
    }
}

@media screen and (max-width: 850px) {
    .Stages {
        .background {
            display: none;
        }

        .header {
            position: relative;

            top: 4%;

            margin-bottom: 3vw;
        }

        .content-wrapper {
            position: relative;
            top: initial;
            right: initial;
            bottom: initial;
            left: initial;
        }

        .content {
            position: relative;
            right: initial;
            left: initial;

            flex-direction: column;

            margin: 0 14vw;

            align-items: flex-start;

            .pic {
                width: 22vw;
            }
        }

        .stage::before {
            position: absolute;
            top: 8vw;
            left: 26vw;

            width: 56vw;

            text-align: left;

            font-size: 4vw;
        }

        .stage::after {
            position: absolute;
            top: 0;
            left: 26vw;

            font-size: 6vw;
        }

        .arrow {
            align-self: center;

            width: 6vw;
            height: 9vw;

            transform: rotate(90deg);
        }
    }
}
