.Header {
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 7vw;

        list-style: none;

        .menu-item {
            display: block;

            width: 140px;
            height: 80px;

            margin: 0 10px;
            padding: 0 10px;

            cursor: pointer;

            opacity: .8;

            color: #fff;

            border-radius: 20px;

            background: #007834;

            font-size: 31px;

            line-height: 80px;

            &:nth-child(2n) {
                background: #597a00;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 995px) {
    .Header .menu {
        bottom: 6%;

        .menu-item {
            padding: 0;

            color: #007834;
            background: none;

            font-size: 33px;

            &:nth-child(2n) {
                background: none;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .Header {
        .menu-wrapper:not(.touch-show) {
            display: none;
        }

        .menu-wrapper.touch-show {
            position: fixed;
            z-index: 1;
            top: 15vw;
            right: 0;
            bottom: 0;
            left: 0;

            overflow: auto;

            background: #7bb000;

            .menu {
                flex-direction: column;
                align-items: flex-start;

                width: 100%;
                margin: 0;
                padding: 0;

                text-align: left;

                .menu-item {
                    width: 100%;
                    height: 21vw;
                    margin: 0;
                    padding-left: 2vw;

                    color: #fff;

                    border-radius: 0;

                    font-size: 16vw;
                    line-height: 21vw;
                }
            }
        }
    }
}
