.Contacts {
    height: 3vw;

    padding-right: 1vw;

    text-align: right;

    background: #7bb000;

    line-height: 3vw;

    .contact {
        margin-left: 2vw;

        color: #fff;

        font-size: 2vw;

        &:hover {
            text-decoration: none;
        }

        img {
            width: 2vw;
            height: 2vw;

            margin-right: .5vw;
        }
    }
}
